[MASTER]
disable=
    C0114, # missing-module-docstring
    C0115, # missing-class-docstring
    C0116, # missing-function-docstring
    W0201, # attribute-defined-outside-init
    R0801,

ignore=
    requirements.txt,
    pytest.ini,
    README.md,
    Dockerfile,
    Makefile,
    reports,
    venv,
    LICENSE

[FORMAT]
max-line-length=300